.photo-bg1{
	background: url('http://farm4.staticflickr.com/3022/2813993869_6619909ab9_b.jpg');
	background-repeat:no-repeat;
	background-size:1024px 725px;
	color: white;
	font-family: 'Alegreya', serif;
}